body {
background-image: url(images/sweetStuff.jpg);
background-repeat: no-repeat;
background-size: 2000px;
background-position: top;
font-family: 'Noto Sans Vithkuqi', sans-serif;
color: rgba(240, 248, 255, 0.925);
width: 100%;
height: 100%;
margin: 0;
}

h1 {
  
background-image: url(images/sweetStuff.jpg);
background-repeat: no-repeat;
background-size: 2000px;
background-position: top;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 2px rgba(58, 49, 32, 0.253);
  text-align: center;
  font-family:'M PLUS Rounded 1c', sans-serif; 
  font-size: 50px;
  
}


h2 {
  text-align: center;
  padding-bottom: 20px;
  
}
h3 {
  text-align: center;
  padding-top: 10px;
  font-size: 23px
}



.ice-cream-flavors {
  text-align: right;
  margin: auto;
  padding-right: 5px;
  padding-bottom: 15px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.39);
}

li {
  list-style: none;
  padding:5px  21px;
}

p {
  text-align: center;
}

.links {
  
  width: 100%;
  height: 90px;
  background-color: rgb(238, 144, 152);
}

.developer-links {
  margin-left: 10%;
  margin-right: 10%;
  word-spacing: .5em;
  padding-top: 10px;
}

.nav-icon {
  float: right;
  padding-left: 30px;
  width: 25px;
  
}

.title-container {
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 60%;
  height: 80px;
  background-color: rgb(206, 201, 192);
  margin: -40px auto 40px auto;
  padding: 0 1%;
  border-radius: 200px;
  box-shadow: 0px 5px 9px 1px rgb(134, 133, 132, .7);
}

a {
  text-decoration: none;
  color: white
}

.title-link a:hover {
  color: rgb(238, 144, 152)
}

.title-link a:active {
  color: rgb(238, 144, 152);
}

.developer-links a:hover {
  color: rgb(206, 201, 192);
}

.title-link {
  font-family: 'Noto Sans Vithkuqi', sans-serif;
  font-size: 17px;
  margin: 0 auto;
  padding: 0 20px;
  word-spacing: 3em;
  
}

footer {
  color: rgb(255, 255, 255);
  width: 100%;
  background-color: rgb(238, 144, 152);
  margin: 0;
  padding: 0;
  height: 40px;
  line-height: 2.5;
}